// Colors

$color-primary: #49494B; //dark-grey
$color-secondary: #B4428A; //purple
$color-tertiary: #FBD76B; //orange
$color-tertiary-alt: #FBB855; //slightly darker orange

// Breakpoints

$break-md: 768px;
